<section class="macaron_text">
    <div class="section-title" >
    <h3 id="our-macacrons-fresh-para-title">Our macarons are freshly made by hand</h3>
    </div>
    <p class="para-style para-fresh"> The vivid hues of our unique macarons reflect the natural flavors and essences
        that infuse the ganache filling of these delicious almond cookies – each has its own personality, and all
        of them are made to savour for their delicacy and unique character.
    </p>
</section>
<section id="shop">
    <h5>SHOP ONLINE!</h5>
    <div id="macaron_shop">


        <div ng-repeat="macaroon in mc.cart.macaron_array" ng-id="macaroon.name" class="mac col-sm-offset-1 col-md-2 col-sm-3 col-xs-12">
            <img class="mac_img col-xs-12 " ng-src="{{macaroon.source}}" >
            <div>
                <p class="mac_name">{{macaroon.name+" Macaron"}}</p>
                <p class="mac_description">{{macaroon.description}}</p>
                <p class="mac_price">{{"price: "+macaroon.price+" $ "}}</p>
                <h6>ADD to cart</h6>
                <p>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" ng-class="macaroon.name" ng-click="mc.add(macaroon)">
                        <i class="fa fa-plus" aria-hidden="true" ng-class="macaroon.name"></i>
                    </button>
                    <button ng-class="macaroon.name" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" ng-click="mc.minus(macaroon)">
                         <i class="fa fa-minus" aria-hidden="true" ng-class="macaroon.name"></i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                        <span>{{macaroon.ordered}}</span>
                    </button>
                </p>
            </div>
        </div>


    </div>
</section>